* {
    font-family: 'Aleo', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;

}

body {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


.section {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}

img {
    border-radius: 16px;
}


/* -------BUTTONS--------- */

.btn {
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    color: white;
    border-radius: 10px;
    padding: 13.5px 31px;
    font-size: 24px;
    cursor: pointer;
}


/* -------NAVBAR-------- */

.navbar-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 42px;
    list-style: none;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 90px;
    width: 100%;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.navbar-brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand,
.nav-link,
.navbar-btn,
h1,
p.preview-text {
    border: none;
    color: white;
}

.navbar-brand-text {
    font-size: 32px;
}

.nav-link {
    font-size: 16px;
    text-decoration: none;
}

.navbar-btn {
    width: 103px;
    height: 41px;
    font-size: 16px;
}


/* --------SECTION PREVIEW---------- */
section.preview {
    height: 765px;
    display: flex;
    flex-direction: column;
    background: url(./assets/jpg/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpeg), url(./assets/jpg/footer_img.jpeg);
    background-repeat: no-repeat;
    background-position: center top, center bottom;
    background-size: cover;
}

.preview.section-text {
    width: 892px;
    height: 422px;
    margin-left: 120px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    font-size: 80px;
}

p.preview-text {
    font-style: italic;
    font-size: 20px;
}

.search-field {
    background-color: rgba(255, 255, 255, 0.70);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
}

::placeholder {
    color: #F2785C;
    font-style: italic;
    font-size: 24px;
}

input {
    background-color: transparent;
    border: none;
    width: 560px;
    height: 95px;
    padding-left: 41px;
}

.btn-preview {
    margin-right: 18px;
    white-space: nowrap;
}

/* -----------SECTION STEPS------------ */

.section-container {
    margin: 80px 0;
}

.steps-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.section-title {
    font-size: 40px;
    color: rgba(242, 120, 92, 1);
    text-align: center;
    margin: 80px 0;
}

.steps-container {
    display: flex;
    justify-content: space-evenly;
    width: inherit;
}

.steps-img {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

/*------------DESTINATIONS SECTION------------  */


.slider-container {
    position: relative;
    height: 800px;
    /* width: 1970px;
    max-width: 2520px; */
    /* overflow: hidden; */
    left: -530px;
    touch-action: none;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 800px);
    grid-gap: 60px;
    position: absolute;
    top: 0;
    left: 0;
    touch-action: none;
    pointer-events: none;
    /* -> pointer events are off here so that e.offsetX is not calculated to anyo ther div but slider-container. If we dont turn it off, e.offsetX will be relative to each card, not the container, so it will change each time we are pointing on another card. But we want it to be consistently relative to one big container, which is slider-container. */
    width: 100%;
}

.card {
    overflow: hidden;
    border-radius: 16px;
}

.destination-image {
    width: 100%;
}

.dots {
    margin: 24px;
    text-align: center;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(242, 120, 92, 0.5);
}

.active-dot {
    background: rgba(242, 120, 92, 1);
    cursor: default;
}

.arrow-right-icon {
    width: 35px;
}

/* ------------TRAVEL STORIES SECTION-------- */

.stories {
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding-bottom: 55px;
}

.story {
    display: flex;
    gap: 40px;
    margin: 30px;
    color: #0D606F;
}

h3.story-title {
    font-size: 35px;
}

.story-image {
    width: 100%;
}

p.story-text {
    font-size: 24px;
}

a {
    color: #0D606F;
}

/* ------Footer------ */
.footer-section {
    background-color: rgba(255, 255, 255, 0.7);
    ;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    margin: 0 auto;
    color: white;
}

.socials {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.button {
    display: flex;
    justify-content: center;
}

.footer-element {
    width: 260px;
}


/* ---------LOGIN POPUP--------- */

#login-popup {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
}

#login-popup.shown {
    display: flex;
}

.login-popup-content {
    z-index: 1;
    position: relative;
    width: 650px;
    height: 660px;
    background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
    color: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.line-or-line {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.hidden {
    display: none;
}

.login-title {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    color: #0D606F;
    line-height: 3.8rem;
}

.form-field {
    width: 560px;
    height: 56px;
    border-radius: 10px;
    background: #FFFFFF;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 20px;

}

.facebook {
    background: #1877F2;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    color: #FFFFFF;
}

.input-label {
    text-align: left;
}

form.sign-in {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sign-in-link {
    background-color: rgba(13, 96, 111, 1);
    color: #FFFFFF;
}

/*------------SIGNUP_POPUP--------------- */

#signup-popup {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
}

.signup-popup-content {
    z-index: 1;
    position: relative;
    width: 650px;
    height: 436px;
    background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
    color: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.signup-title {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    color: #0D606F;
    line-height: 3.8rem;
}

.signup-link {
    background-color: rgba(13, 96, 111, 1);
    color: #FFFFFF;
}

#signup-popup.shown {
    display: flex;
}

/* ------------MOBILE------------ */